Source: canaima-ofimatica-gnome
Section: misc
Priority: optional
Maintainer: Erick Birbe <erickcion@gmail.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4
Homepage: http://canaima.softwarelibre.gob.ve/
Vcs-Git: git://gitorious.org/canaima-gnu-linux/canaima-ofimatica-gnome.git
Vcs-Browser: http://gitorious.org/canaima-gnu-linux/canaima-ofimatica-gnome/trees/master

Package: canaima-ofimatica-gnome
Architecture: all
Depends:	canaima-fuentes-extras,
		evince (>= 3.4),
		fonts-liberation,
		gedit (>= 3.4),
		gedit-plugins (>= 3.4),
		libreoffice-calc,
		libreoffice-gnome,
		libreoffice-gtk,
		libreoffice-impress,
		libreoffice-java-common,
		libreoffice-math,
		libreoffice-pdfimport,
		libreoffice-presentation-minimizer,
		libreoffice-writer,
		python-uno,
		unoconv,
		${misc:Depends}
Conflicts:	python3-uno
Description: Programas de ofimática para Canaima GNU/Linux (metapackage)
 Este metapaquete provee los programas de ofimática para Canaima GNU/Linux.
